<%- include('layout/header', {title: chatName, cssFile: '/styles/conversation.css'}) -%>

<main>
    <section id='conversation' class='conv-section'>

        <div class="conv-header conv-childs">
            <div class="conv-header-title">
                <div class="backLink">
                    <a href='/'>
                        <i class="fas fa-arrow-left"></i>
                    </a>
                </div>
                <div class="conv-avtaar">
                    <i class="fas fa-user-circle"></i>
                </div>
                <div class="conv-content">
                    <h5 class='conv-with'><%= chatName %></h5>
                    <p class="conv-status">Offline</p>
                </div>
            </div>
            <div class="conv-header-btns">
                <ul>
                    <li class="conv-header-btn">
                        <i class="fas fa-ellipsis-v"></i>
                    </li>
                </ul>
            </div>
        </div>

        <div class='conv-messages conv-childs'>
            <ul id="messages-list" class='messages-list'>
                <h4 id="messageResponse" class="text-center text-danger py-3" hidden></h4>

            </ul>
        </div>

        <div class="conv-footer conv-childs">
            <form id='message-form'>
                <input class='message-input' type="text" name="message" id="message" placeholder='Write your message...' autocomplete="off" required/>
                <button type="submit"> <i class="fas fa-paper-plane"></i> </button>
            </form>
        </div>
    </section>
</main>

<audio id="msg-tune" src="/audio/notification_tones.mp3" hidden></audio>

<script src="/socket.io/socket.io.js"></script>
<%- include('layout/footer', {jsFile: '/scripts/conversation.js'}) -%>