<%- include('layout/header', {title: 'Reset Password', cssFile: '/styles/reset-password.css'}) -%>

    <main>
        <section class="reset-section">
            <div class="container">
                <div class="reset-area">

                    <h4>Reset Password</h4>
                    <div class="reset-form-area">

                            <form id='reset-pass-form' method="post" >

                                <div class="input-field">
                                    <input type="email" name="email" id="reset-email" placeholder="Enter E-mail" required/>
                                </div>
                                <div class="input-field">
                                    <input type="password" name="newPassword" id="new-password" placeholder="New password" autoComplete="off"  required/>
                                </div>
                                <div class="input-field">
                                    <input type="password" name="newCPassword" id="new-cpassword" placeholder="Confirm new password" autoComplete="off"  required/>
                                </div>

                                <div class="show-forgot-password">
                                    <div class="show-pass">
                                        <input type="checkbox" name="show-pass" id="show-pass"/>
                                        <label For='show-pass'>Show Password</label>
                                    </div>
                                </div>

                                <div class="res text-danger">
                                    <span id='passResText'><%= resetResponse %></span>
                                </div>

                                <div class="form-btn-container">
                                    <button class="form-btn" type="submit">Reset</button>
                                </div>
                            </form>
                            
                    </div>
                    <div class="login-link">
                        Already have an account? <a href="/login">Login</a>
                    </div>
                </div>
            </div>
        </section>
    </main>

<%- include('layout/footer', {jsFile: '/scripts/reset-password.js'}) -%>