main{
    display: flex;
}

/* ***************************************************** */
/* .navigation{
    min-height: 100vh;
    max-height: 100vh;
    max-width: 7rem;
    min-width: 7rem;
    text-align: center;
    padding: 1.5rem 0;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 1;
    background-color: var(--theme-color);

}
.navigation::-webkit-scrollbar{
    width: .5rem;
}
.navigation::-webkit-scrollbar-thumb{
    border-radius: 1rem;
    background-color: transparent;
}
.navigation:hover::-webkit-scrollbar-thumb{
    background-color: #ffffff77;
}

.nav-brand{
    display: block;
}
.nav-brand a svg{
    padding: 1rem;
    width: 5rem;
    border: none;
    border-radius: .5rem;
    background-color: whitesmoke;
}
.navs{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.nav-links{
    margin-bottom: 2rem;
}
.nav-links i{
    color: #ffffff50;
    font-size: 2rem;
    transition: all .3s;
}
.nav-links i:hover{
    color: #ffffff;
} */

/* ********************************************************** */

.chats-section{
    max-height: 100vh;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-color: var(--dark-background-2);
    width: 40%;
}

.chats-header{
    padding: 1.5rem;
    background-color: var(--dark-background-3);
    border-bottom: 1px solid var(--theme-color);
}
.chats-header .title{
    color: #fff;
    margin-bottom: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.chats-header .title h3{
    margin-bottom: 0;
}
.chats-header .menu span{
    margin-left: 1.4rem;
    cursor: pointer;
}
.chats-header .menu span.more{
    position: relative;
}
.chats-header .menu span.more ul{
    list-style: none;
    color: #ffffff;
    padding: 1rem 0;
    margin: 0;
    position: absolute;
    right: 0; top: 2rem;
    border: 1px solid black;
    border-radius: .5rem;
    background-color: var(--dark-background-2);
}
.chats-header .menu span.more ul li{
    font-size: 1.4rem;
    white-space: nowrap;
}
.chats-header .menu span.more ul li:hover{
    background-color: var(--dark-background-3) ;
}
.chats-header .menu span.more ul li a{
    display: block;
    color: #ffffff;
    padding: .5rem 1.5rem;
}
.chats-header .menu span.more ul li a:hover{
    text-decoration: none;
}
.chats-header .menu span i{
    font-size: 1.4rem;
    color: #ffffff50;
}
.chats-header .menu span i:hover{
    color: #ffffff;
}

.chats-list{
    padding:0;
    margin-bottom: 0;
    list-style: none;
    overflow-y: auto;
    background-color: var(--dark-background-2);
    
}
.chats-list::-webkit-scrollbar{
    width: 0rem;
}

.chats-list::-webkit-scrollbar-track{
    width: 0px;
}

.no-chats{
    color: #fff;
    padding: 1rem 0;
    margin: 2rem 0;
    text-align: center;
}
.no-chats p{
    color: #727272;
    font-size: 1.4rem;
}

.chats-list-item{
    border-bottom:1px solid var(--dark-background-3);

}
.chats-list-item:last-child{
    border: none;
}
.chats-list-item a{
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 1.5rem;
    transition: all .3s;
    position: relative;
}
.chats-list-item a strong{
    content: "25";
    width: 20px;
    height: 20px;
    color: #fff;
    background-color: var(--theme-color);
    position: absolute;
    right: 10px;
    bottom: 10px;
    text-align: center;
    line-height: 22px;
    border-radius: 50%;
}
.chats-list-item a:hover{
    background-color: var(--dark-background-3);
}

.Chat-avtaar figure{
    margin-bottom: 0;
}
.Chat-avtaar i{
    color: #ffffff50;
    font-size: 4rem;
    font-weight:bold
}
.chat-content{
    padding-left: 1rem;
    flex-grow: 1;
}
.chat-content .chat-name{
    color: #fff;
    margin-bottom: 0;
    word-break: break-all;

}
.chat-content .last-message-time {
    float: right;
    color: #505050;
}
.chat-content .chat-last-msg{
    font-size: 1.2rem;
    color: #727272;
    width: 95%;
    margin-top: .5rem;
    margin-bottom: 0;
}

.chats-search, .modal-body .new-chat-search{
    border-radius: .5rem;
    background-color: var(--dark-background-2);

}
.modal-body .new-chat-search form{
    display: flex;
    align-items: center; 
}

.chats-search input{
    width: 100%;
}
.chats-search input, .modal-body .new-chat-search form input, .modal-body .new-chat-search form button{
    color: #fff;
    flex-grow: 1;
    border: none;
    padding: .8rem;
    outline: none;
    font-size: 1.2rem;
    background: transparent;
}
.modal-body .new-chat-search form button{
    flex-grow: 0;
    padding: .8rem 1.5rem;
}
.chats-search form button i, .modal-body .new-chat-search form button i{
    color: #ffffff50;
    font-size: 1.5rem;
}
.chats-search form button i:hover, .modal-body .new-chat-search form button i:hover{
    color: #ffffff;
}


/* *********************************** */
.modal-content{
    color: #fff;
    background-color: var(--dark-background-3);
}
.modal-content .modal-header{
    align-items: center;
    border-bottom-color: var(--theme-color) ;
}
.modal-content .modal-header .close{
    font-size: 2rem;
    color: #fff;
    text-shadow: none;
    outline: none !important;
}
.modal-body .new-users-list{
    margin: 0;
    padding: 1rem 0;
    list-style: none;
}
.modal-body .chats-list-item a:hover{
    border-radius: .5rem;
    background-color: var(--dark-background-2);
}
.modal-body #new-search-res, .modal-body #userListSpinner{
    padding-top: 1rem;
    text-align: center;
}



/* ************************************************************************************************************ */
.no-conv-section{
    max-height: 100vh;
    min-height: 100vh;
    justify-content: space-between;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: var(--dark-background);
    flex-grow: 1;
    width: 60%;
}
.welcome-msg{
    color: #ffffff;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
/* .welcome-msg h5{
    font-size: 1.4rem;
    font-weight: normal;
} */
.welcome-msg p, .welcome-msg h5{
    color: #727272;
    font-size: 1.4rem;
}
.no-conv-section .conv-avtaar i{
    color: #f5f5f5;
    font-size: 5rem;
    margin-bottom: 1rem;
}

.conv-section{
    max-height: 100vh;
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: var(--dark-background);
    flex-grow: 1;
    width: 60%;
}
 /* ******************************* */
.start-conv{
    height: 100%;
    color: #fff;
    text-align: center;
    display: flex;
    flex-grow: 1;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.start-conv figure{
    padding: 0;
    margin: 0;
}
.start-conv figure svg{
    font-size: 8rem;
}
.start-conv h3{
    margin-bottom: 2rem;
}
.start-conv p{
    color: #727272;
    font-size: 1.4rem;
    margin-bottom: .5rem;
}
.start-conv h6{
    font-size: 1.6rem;
}
.start-conv button{
    font-size: 1.4rem;
}

/* ************************************* */
.conv-header{
    padding: 1rem 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--dark-background);
    border-bottom:1px solid var(--dark-background-2);
    /* position: fixed;
    left: 0;right: 0;top: 0; */
}
.conv-header-title{
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all .3s;

}
.conv-header-title .backLink{
    display: none;
    margin-right: 2rem;
}
.conv-header-title .backLink i{
    font-size: 1.5rem;
}

.conv-header-title .conv-avtaar i{
    color: #f5f5f5;
    font-size: 3rem;
}
.conv-content{
    padding-left: 1rem;
    flex-grow: 1;
}
.conv-content .conv-with{
    color: #fff;
    margin-bottom: 0;
}
.conv-content .conv-status{
    font-size: 1.2rem;
    color: #727272;
    margin-top: .5rem;
    margin-bottom: 0;
}

.conv-header-btns ul{
    color: #fff;
    list-style: none;
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;

}
.conv-header-btns ul li{
    margin-left: 1rem;
    margin-bottom: 0;

}
.conv-header-btns ul li i{
    color: #ffffff50;
    font-size: 1.5rem;
    transition: all .3s;
    cursor: pointer;
}
.conv-header-btns ul li i:hover{
    color: #ffffff;
}

.conv-messages{
    overflow-x: hidden;
    overflow-y: scroll;
    flex-grow: 1;
    padding: 1rem 1.8rem 0 1.8rem;
}
.conv-messages::-webkit-scrollbar{
    width: .5rem;
}
.conv-messages::-webkit-scrollbar-thumb{
    background-color: var(--dark-background-3);
}

.messages-list{
    padding: 0;
    display: flex;
    flex-direction: column;
    list-style: none;
    margin-bottom: 0;

}

.messages-list li p.conv-message{
    padding: .5rem 1rem;
    font-size: 1.4rem;
    border-radius: .5rem;
    display: inline-block;
    /* max-width: 90%; */
    clear: both;
}
.messages-list li p.conv-message .message-time{
    display: block;
    font-size: 1.2rem;
    margin-top: 1rem;
}
.messages-list li.log-user{
    align-self: flex-end;
    margin-left: 8rem;
}
.messages-list li.log-user p{
    color: #ffffff;
    background-color: var(--theme-color);
}
.messages-list li.log-user p .message-time{
    color: var(--dark-background-3);
}

.messages-list li.other-user{
    align-self: flex-start;
    margin-right: 8rem;
}
.messages-list li.other-user p{
    color: #ffffffbf;
    background-color: var(--dark-background-3);
}
.messages-list li.other-user p .message-time{
    color: var(--theme-color);
    text-align: right;
}

.conv-footer{
    margin-top: 1rem;
    border-top: 1px solid var(--dark-background-2);
    background-color: var(--dark-background);
    /* position: fixed;
    left: 0; right: 0; bottom: 0; */
}
.conv-footer form{
    padding: 1rem 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.conv-footer form input.message-input{
    color: #ffffff;
    flex-grow: 1;
    border: none;
    padding: 1rem;
    outline: none;
    font-size: 1.4rem;
    border-radius: .5rem;
    background-color: var(--dark-background-2);
}
.conv-footer form button{
    color: #ffffff;
    border: none;
    outline: none;
    flex-grow: 0;
    padding: 1rem 1.5rem 1rem 1.2rem;
    margin-left: 1rem;
    border-radius: .5rem;
    background-color: var(--theme-color);

}
.conv-footer form button i{
    font-size: 1.5rem;
}